.menu {
    width: 290px;
    height: 800px;
    padding-left: 30px;
    padding-top: 30px;

    background-color: #2B2F3E;
    color: #808080;
    font-weight: 100;
}
.menu h1 {
    color: #FFFFFF;
}